{% extends "base.html" %}

{% load static %}
{% load tag_utils %}
{% load widget_tweaks %}


{% block title %} Home {% endblock %}

{% block extrahead %} {% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'register/css/register.css' %}">
{% endblock %}

{% block extrascript %} {% endblock %}


{% block breadcrumbs %}
{% breadcrumb_url 'Home' 'index' company.name %}
{% endblock %}


{% block content %}


<div class="my-5 text-center">
    <h1></h1>
</div>

<div class="card">
    <div class="card-body">
        <h4>{{company.name}}</h4>
        <p>CNPJ: <span class="badge badge-light">{{company.cnpj}}</span></p>
        <p>Amount of Fiscal Notes: <span class="badge badge-light">{{fiscal_notes|length}}</span></p>
    </div>
</div>

<nav class="navbar navbar-light bg-light">
    <form class="form-inline" method="GET">
        <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search a Fiscal Note"
               aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        {% if request.GET.search%}
        <span class="text-warning ml-2">Currently looking for '{{request.GET.search}}'</span>
        {% endif %}
    </form>
</nav>

<table id="fiscal_note_table" class="table table-hover">
    <thead class="thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col" class="text-center">Series</th>
        <th scope="col" class="text-center d-none d-sm-table-cell">Number</th>
        <th scope="col" class="text-center d-none d-md-table-cell">Name/Description</th>
    </tr>
    </thead>
    <tbody>

    {% for fn in fiscal_notes %}
    <tr data-toggle="collapse" data-target="#hidden_{{fn.id}}" data-parent="#fiscal_note_table"
        title="Click for more details">
        <th scope="row">{{fn.id}}</th>
        <td class="text-center">{{fn.series}}</td>
        <td class="text-center d-none d-sm-table-cell">{{fn.number}}</td>
        <td class="text-center d-none d-md-table-cell">{{fn.name_description}}</td>
    </tr>
    <tr id="hidden_{{fn.id}}" class="collapse">
        <td colspan="6" class="hiddenRow" style="border-top: 0px;">
            <div class="card">
                <div class="card-body">
                    <div>Series: <span class="badge badge-light">{{fn.series}}</span></div>
                    <div>Number: <span class="badge badge-light">{{fn.number}}</span></div>
                    <div>Name/Description: <span
                            class="badge badge-light">{{fn.name_description|truncatechars:40}}</span></div>
                    <div>Weight: <span class="badge badge-light">{{fn.weight}}{{fn.weight_metric}}</span></div>
                    <div>Volume: <span class="badge badge-light">{{fn.volume}}{{fn.volume_metric}}</span></div>
                    <div>Date: <span class="badge badge-light">{{fn.date}}</span></div>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
