{% extends "base.html" %}

{% load static %}
{% load tag_utils %}
{% load widget_tweaks %}


{% block title %} Home {% endblock %}

{% block extrahead %} {% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'register/css/register.css' %}">
{% endblock %}

{% block extrascript %} {% endblock %}


{% block breadcrumbs %}
    {% breadcrumb_url 'Home' %}
{% endblock %}



{% block content %}


<div class="my-5 text-center">
    <h1>Companies</h1>
</div>

<table class="table mt-5">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col" class="text-center">Name</th>
        <th scope="col" class="text-center d-none d-sm-table-cell">CNPJ</th>
        <th scope="col" class="text-center d-none d-md-table-cell">Amount of Notes</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    {% for c in companies %}
    <tr>
        <th scope="row">{{c.id}}</th>
        <td class="text-center">{{c.name}}</td>
        <td class="text-center d-none d-sm-table-cell">{{c.cnpj}}</td>
        <td class="text-center d-none d-md-table-cell">{{c.fiscalnote_set.all | length}}</td>
        <td class="text-center"> <a href="{% url 'company_detail' id=c.id %}"><span style="font-size: 1.4em" class="oi oi-list" title="More details" aria-hidden="true"></span></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
